
@font-face {
	font-family: 'beba';
	src:url('../font/bebas___-webfont.ttf');
}
body, h1,h2,h5,h6{
	font-family: 'Open Sans Condensed';
}
h3,h4{
	font-family: 'beba';
}
p {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: medium;
}

