.footer_area {
	background-color: $pink;
    .footer {
    	background-color: $orange;
        border-left: 15px solid white;
        border-right: 15px solid white;
        padding: 2% 0 4%;
        .single_footer {
        	padding-right: 5%;
        }
    }
	h3 {
		text-transform: uppercase;
		font-size: 30px;
		color: $white;
	}
	p {
		color: $white;
        font-size: large;
	}
}